#container {
}

.ModalQuestion {
    position: absolute;
    left: 15%;
}

.ui-autocomplete {
    height: 150px;
    overflow-y: scroll;
    padding: 4px 0;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    margin-top: 186px;
    width: 705px;
    margin-left: 607px;
    left: 0px;
    display: block;
    z-index: 1;
    position: absolute;
}

    .ui-autocomplete .ui-menu-item > a.ui-corner-all {
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        color: #555555;
        white-space: nowrap;
    }

        .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-focus {
            color: #ffffff;
            text-decoration: none;
            background-color: #0088cc;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
        }


/*.ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all{
    top: 200px;
    width: 679px;
    margin-left: 32%;
    left: 0px;
    display: block;
    z-index: 1;
    position: absolute;
}*/


/*ul, ol {
    width: 679px;  
    margin-left: 32%;
    margin-top: -20px;
    margin-bottom: 10px;
}*/



#tableQuestion {
    text-align: center;
}
