
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorPage</title>
</head>
<body>

    <div class="Image">
        <img src="~/Images/errorImg.jpg">
    </div>

    <h1> Sorry for Error </h1>

</body>
</html>
