
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<!DOCTYPE html>
<head>


</head>
<body>

    <div class="adminLogo"> <img src="~/Images/admin.jpeg" /> </div>

</body>


<style>
    .adminLogo {
        position: absolute;
        top: 33%;
        left: 37%;
    }
</style>
@*<div class="bodyContent">

        <div class="btn-group">
            <button href="/Admin/UserAdmin" type="submit" class="btn btn-primary">User</button>
            <button type="submit" class="btn btn-primary">Question</button>
            <button type="submit" class="btn btn-primary">Test</button>
            <button type="submit" class="btn btn-primary">Category</button>
            <button type="submit" class="btn btn-primary">Configuration</button>
        </div>

    </div>*@